body {
  padding: 10px;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 16px;
  font-weight: 700;
}
h2 {
  font-size: 15px;
  font-weight: 700;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
div.panel div.panel-body {
  font-size: 12px;
}
div.panel div.panel-body pre {
  font-size: 10px;
}
div.panel.panel-primary div.panel-heading {
  padding-top: 9px;
  padding-left: 20px;
  padding-bottom: 9px;
}

div.panel-primary div.panel-heading a:link,
div.panel-primary div.panel-heading a:visited,
div.panel-primary div.panel-heading a:hover,
div.panel-primary div.panel-heading a:active {
    color: #fff;
}
div.panel-primary div.panel-heading span {
  font-size:80%;
  font-weight: 500;
  padding-left: 2em;
}
